* {
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 40px;
  width: 960px;
  height: 140px;
}

#logobox {
  display: inline;
  height: 100px;
}
#logo {
  vertical-align: top;
  display: inline-flex;;
  margin-top: 0px;
  padding-bottom: -35%;
  width: 45px;
  height: 45px;
  text-align: left;
}

#logobottomtext {
  text-align: left;
  display: inline;
  vertical-align: bottom;
}

#logotext1 {
  display: inline;
  font-size: 200%;
  font-family: 'Yellowtail', cursive;
}

#social-icons {
  vertical-align: middle;
  font-size: 50%;
  margin-left: 507px;
  display: inline;
}

#rss {
  margin-left: 10px;
}

#pagebreak {
  margin-top: 25px;
  width: 100%;
}

main {
  height: 2000px;
  width: 960px;
}

body {
  width: 960px;
  height: 1500px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
  margin-top: 0px;
  margin-bottom: -10px;
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 150%;
  color: grey;
  font-size: 127%;
  text-indent: 50px;
}

.h1grey {
  display: inline-block;
  margin-top: -10px;
  padding-bottom: 20px;
  color: lightgrey;
  font-family: 'Catamaran', sans-serif;
}

#print {
  display: inline-block;
  margin-left: 645px;
}

#chocopizza {
  width: 100%;
  display: block;
  margin: auto;
}

#checklist {
  display: block;
  background-image: url(lab-assets/list-bg.png);\
  background-size: 100%;
  width: 900px;
  height: 300px;
}

#checklist1 {
  vertical-align: top;
  font-size: 125%;
  display: inline-block;
  height: 300px;
  width: 350px;
}

#checklist2 {
  font-size: 125%;
  display: inline-block;
  height: 300px;
  width: 450px;
}

#list {
  position: relative;
}

ul {
  margin-left: 0px;
  display: block;
  height: 200px;
}

li {
  font-size: 115%;
  font-family: 'Indie Flower', cursive;
  display: block;
  width: 250px;
}

.strikethrough {
  font-size: 115%;
  text-decoration: line-through;
  font-family: 'Indie Flower', cursive;
}

#vanpic {
  vertical-align: top;
  display: inline;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.authorbox {
  display: inline-block;
  width: 550px;
  height: 150px;
  padding-left: 0px;
}
#author {
  font-size: 150%;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  width:200px;
}

#author1 {
  font-size: 100%;
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  width: 200px;
}

#share {
  margin-left: 110px;
}

#copywrite {
  display: block;
  margin-top: 25px;
  width: 25%;
}
